---
import { type GetStaticPaths } from 'astro';
import Page from '../../layouts/Page.astro';
import { getBlog, getImagePath } from '../../utils/getBlog';

export const getStaticPaths = (async () => {
	const { posts } = await getBlog();
	return posts.map((post) => ({
		params: { slug: post.slug },
	}));
}) satisfies GetStaticPaths;

const { slug } = Astro.params;
const response = await getBlog(slug);
if (!response) {
	return Astro.redirect('/404');
}
const { post, navigation } = response;

const { Content } = await post.render();

const title = `Blog: ${post.data.title}`;
const description = post.data.description;
const openGraph = getImagePath(post.data.featuredImage.img);
const permalink = new URL(`blog/${slug}`, Astro.site).toString();
---

<Page title={title} description={description} permalink={permalink} openGraph={openGraph} current="blog">
	<section>
		<article>
			<header>
				<h1 transition:name={`title-${post.slug}`}>
					{post.data.title}
				</h1>
				<p class="subtitle">
					{post.data.subTitle}
				</p>
				<time datetime={post.data.publishDate} transition:name={`meta-${post.slug}`}>
					{post.data.publishDate}
				</time>
			</header>

			<div class="image" transition:name={`img-${post.slug}`}>
				<img
					src={getImagePath(post.data.featuredImage.img)}
					alt={post.data.featuredImage.title}
					class="w-full rounded"
				/>
			</div>

			<div class="content">
				<Content />
			</div>
		</article>
	</section>

	<section>
		<nav transition:name="blog-navigation">
			{navigation.prev && (
				<a href={`/blog/${navigation.prev.slug}`} class="previous">
					<span class="tense">Newer</span>
					<strong>{navigation.prev.data.title}</strong>
				</a>
			)}
			{navigation.next && (
				<a href={`/blog/${navigation.next.slug}`} class="next">
					<span class="tense">Older</span>
					<strong>{navigation.next.data.title}</strong>
				</a>
			)}
		</nav>
	</section>
</Page>

<style>

</style>
