---
import LayoutDefault from '../../layouts/LayoutDefault.astro';

const title = 'All Blog Articles';
const description = '';
const permalink = `${Astro.site.href}blog`;

// Fetch all markdown posts using import.meta.glob with eager loading
const posts = await import.meta.glob('../../../data/blog/*.md', { eager: true });

// Convert to array and sort by date
const postsArray = Object.entries(posts)
  .map(([path, post]) => ({
    ...post,
    path
  }))
  .sort((a, b) =>
    new Date(b.frontmatter.publishDate).valueOf() -
        new Date(a.frontmatter.publishDate).valueOf()
  );
---

<LayoutDefault title={title} description={description} permalink={permalink} current="blog">
  <section>
    <p>All blog articles</p>
    <ul>
      {postsArray.map((post, index) => {
        const href = `/blog/${post.path.split('/').pop().split('.').shift()}`;
        return (
          <li>
            <a href={href} title="Read full article">
              {post.frontmatter.title}
            </a>
          </li>
        );
      })}
    </ul>
  </section>

</LayoutDefault>

<style>

</style>
