---
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

export interface Props {
  title: string;
  description: string;
  permalink: string;
  current?: string;
}
const { title, description, permalink, current, openGraph } = Astro.props;
---
<html lang="en">
  <head>
    <Head title={title} description={description} permalink={permalink} openGraph={openGraph} />
  </head>
  <body>
    <div class=`layout layout-${current}`>
      <Header current={current} />
      <main>
        <article>
          <slot />
        </article>
      </main>
      <Footer />
    </div>
  </body>
</html>

<style>

</style>
