---
import LayoutDefault from '../../layouts/LayoutDefault.astro';
import getPortfolioData from '../../utils/getPortfolioData';

export async function getStaticPaths() {
  const posts = await import.meta.glob('../../../data/portfolio/*.md', { eager: true });
  return Object.entries(posts).map(([file, post]) => ({
    params: {
      slug: file.split('/').pop().split('.').shift()
    },
    props: {
      post
    },
  }));
}

const { Content, frontmatter } = Astro.props.post;
const { client, tagline, scope } = frontmatter;
const { slug } = getPortfolioData(Astro.props.post);
const permalink = `${Astro.site.href}portfolio/${slug}`;

---

<LayoutDefault title={`${client} → Portfolio`} description={`${scope} made for ${client}`} permalink={permalink} current="portfolio">
  <section>
    <p>Portfolio details for {client}, {tagline}</p>
    <Content />
  </section>
</LayoutDefault>

<style>

</style>
