---
import LayoutDefault from '../../layouts/LayoutDefault.astro';

const title = 'Portfolio';
const description = '';
const permalink = `${Astro.site.href}portfolio`;

const portfolioFiles = await import.meta.glob('../../../data/portfolio/*.md', { eager: true });

// Convert to array and sort
const allPortfolio = Object.entries(portfolioFiles)
  .map(([path, post]) => ({
    ...post,
    path
  }))
  .sort((a, b) =>
    new Date(b.frontmatter.launchDate).valueOf() -
        new Date(a.frontmatter.launchDate).valueOf()
  );
---

<LayoutDefault title={title} description={description} permalink={permalink} current="portfolio">
  <section>
    <p>Portfolio index description</p>
    <ul>
      {allPortfolio.map((portfolio) => {
        const href = `/portfolio/${portfolio.file.split('/').pop().split('.').shift()}`;
        return (
          <li>
            <a href={href}>
              {portfolio.frontmatter.client}
            </a>
          </li>
        );
      })}
    </ul>
  </section>
</LayoutDefault>

<style>

</style>
